@import url("https://fonts.googleapis.com/css2?family=Yaldevi:wght@300;400;500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Yaldevi", sans-serif;
}

h1 {
  color: #326dee;
  margin-bottom: 0.75rem;
}

h1 a {
  color: #d32752;
  margin-bottom: 0.75rem;
}

p {
  color: #1ac988;
  margin-bottom: 0.75rem;
}

button {
  background-color: #1ac888;
  border: 1px solid #1ac988;
  padding: 0.75rem;
  margin: 0.75rem;
  border-radius: 10px;
}

.card {
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
  border: 1px solid #e6e619;
  padding: 0.75rem;
  margin: 0.75rem;
  border-radius: 5px;
}
.card .card-title {
  font-size: 1.5rem;
  font-weight: 700;
  color: black;
}
.card .card-body {
  font-size: 1rem;
  color: #326dee;
}
.card .card-body a {
  text-decoration: underline;
  color: #1ac988;
}