@use 'sass:math' ;
.card {
    display: block;
    box-shadow: $base-box-shadow;
    border: $base-border-width $base-border-type #ddd;
    padding: $base-padding;
    border-radius: math.div($base-border-radius,2);

    .card-title {
        font-size: $font-size-lg;
        font-weight: 700;
        color: black;
    }
    .card-body {
        font-size: $base-font-size;
        color: #3b3b3b;
        a {
            text-decoration: underline;
            color: $secondary;
        }
        p{
            color: #909090;
        }
    }
    img{
        width: 100%;
    }
}
// @debug "Hi Farid" ;
// @debug math.floor(2.3) ;
// @debug math.max(10,30,4,40,2);